<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Moalboal</key>
	<dict>
		<key>description</key>
		<string>有名なダイビングスポット</string>
		<key>image</key>
		<string>moalboal.png</string>
		<key>latitude</key>
		<string>10.0000</string>
		<key>longitude</key>
		<string>123.000</string>
	</dict>
	<key>Ayala</key>
	<dict>
		<key>description</key>
		<string>Cebuの中心地</string>
		<key>image</key>
		<string>ayala.png</string>
		<key>latitude</key>
		<string>10.0000</string>
		<key>longitude</key>
		<string>123.000</string>
	</dict>
</dict>
</plist>
